.text{
    grid-column-start: 2;
}

.date{
    text-align-last: right;
}

.year{
    grid-row-start: 1;
    grid-column-start: 1;
    text-align-last: left;
}

.grid-template-smal{
    display: grid;
    grid-template-columns: 100px auto;
}

.pt-font-size{
    padding-top: var(--font-size);
}

.mb-20{
    margin-bottom: 20px;
}