.text{
    grid-column-start: 2;
}

.date{
    text-align-last: right;
    position: relative;
}

.year{
    grid-row-start: 1;
    grid-column-start: 1;
    text-align-last: left;
    margin-block-end: 0;
}

.grid-template-smal{
    display: grid;
    grid-template-columns: 120px auto;
}

.pt-font-size{
    padding-top: var(--font-size);
}

.mb-20{
    margin-bottom: 20px;
}

.mt-100{
    margin-top: 100px;
}

p{
    margin-block-start: 0;
}
