{% extends 'page.html' %}

{% load markdown_extras %}

{% block title %} Ayotzinapa {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/style/ayotzinapa.css">
{% endblock %}

{% block content %}
<div class="grid-template max-width mb-100">
    <h1 class="year">{{ page.get_title_display }}</h1>
    <div class="page-text">
        <div class="text">{{ page.text | convert_markdown | safe }}</div>
    </div>
</div>

{% if time_steps_september %}
<div class="grid-template max-width">
    <h1 class="year">26. September 2014</h1>
    <div class="page-text grid-template-smal">
        {% for time_step in time_steps_september %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2014 %}
<div class="grid-template max-width">
    <h1 class="year">2014</h1>
    <div class="page-text grid-template-smal">
        {% for time_step in time_steps_2014 %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2015 %}
<div class="grid-template max-width">
    <h1 class="year">2015</h1>
    <div class="page-text grid-template-smal">
        {% for time_step in time_steps_2015 %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% endblock %}