{% extends 'page.html' %}

{% load markdown_extras %}

{% block title %} Ayotzinapa {% endblock %}
{% block load %}ayotzinapa{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="../static/style/ayotzinapa.css">
{% endblock %}

{% block content %}
<div class="grid-template max-width mb-100">
    <h1 class="year">{{ page.get_title_display }}</h1>
    <div class="page-text">
        <div class="text">{{ page.text | convert_markdown | safe }}</div>
    </div>
</div>

{% if time_steps_september %}
<div class="grid-template max-width">
    <h1 class="year">26. September 2014</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_september %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2014 %}
<div class="grid-template max-width">
    <h1 class="year">2014</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2014 %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2015 %}
<div class="grid-template max-width">
    <h1 class="year">2015</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2015 %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2016 %}
<div class="grid-template max-width">
    <h1 class="year">2016</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2016 %}
            {% if time_step.date_time == "empty" %}
            <div class="date mt-100"></span><div class="red-circle date"></div></div>
            <div class="pt-font-size mb-20 mt-100">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2017 %}
<div class="grid-template max-width">
    <h1 class="year">2017</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2017 %}
            {% if time_step.date_time == "empty" %}
            <div class="date mt-100"></span><div class="red-circle date"></div></div>
            <div class="pt-font-size mb-20 mt-100">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2018 %}
<div class="grid-template max-width">
    <h1 class="year">2018</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2018 %}
            {% if time_step.date_time == "empty" %}
            <div class="date mt-100"></span><div class="red-circle date"></div></div>
            <div class="pt-font-size mb-20 mt-100">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2019 %}
<div class="grid-template max-width">
    <h1 class="year">2019</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2019 %}
            {% if time_step.date_time == "empty" %}
            <div class="date mt-100"></span><div class="red-circle date"></div></div>
            <div class="pt-font-size mb-20 mt-100">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2020 %}
<div class="grid-template max-width">
    <h1 class="year">2020</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2020 %}
            {% if time_step.date_time == "empty" %}
            <div class="date mt-100"></span><div class="red-circle date"></div></div>
            <div class="pt-font-size mb-20 mt-100">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2021 %}
<div class="grid-template max-width">
    <h1 class="year">2021</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2021 %}
            {% if time_step.date_time == "empty" %}
            <div class="date mt-100"></span><div class="red-circle date"></div></div>
            <div class="pt-font-size mb-20 mt-100">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2022 %}
<div class="grid-template max-width">
    <h1 class="year">2022</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2022 %}
            {% if time_step.date_time == "empty" %}
            <span></span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if time_steps_2023 %}
<div class="grid-template max-width">
    <h1 class="year">2023</h1>
    <div class="page-text grid-template-smal fontsize-timetable">
        {% for time_step in time_steps_2023 %}
            {% if time_step.date_time == "empty" %}
            <div class="date mt-100"></span><div class="red-circle date"></div></div>
            <div class="pt-font-size mb-20 mt-100">{{ time_step.text | convert_markdown | safe }}</div>
            {% else %}
            <span class="date">{{ time_step.date_time }}</span>
            <div class="pt-font-size mb-20">{{ time_step.text | convert_markdown | safe }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}



{% endblock %}