{% extends 'page.html' %}

{% load markdown_extras %}

{% block title %} Gewaltsames Verschwinden {% endblock %}
{% block load %}quellen{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="../static/style/source.css">
{% endblock %}

{% block content %}
<div class="grid-template max-width fontsize-timetable mb-100">
    <h1 class="page-title">{{ page.get_title_display }}</h1>
    {% if page.text %}
    <div class="page-text">{{ page.text | convert_markdown | safe }}</div>
    {% endif %}
    <div class="sources page-text">
        {% for source in sources %}
        <div class="source">
            <strong>{{ source.title }}</strong>
            <div>{{ source.text | convert_markdown | safe }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="grid-template max-width">
    <h1 class="page-title">Weiterführende Informationen</h1>
    <div class="page-text fontsize-timetable gap-source">
        {% for source in moreInfos %}
        <div class="source">
            <strong>{{ source.title }}</strong>
            <a href="{{ source.link }}">{{ source.link }}</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="page-source"> {{ page.source | convert_markdown | safe }} </div>
{% endblock %}