{% extends 'page.html' %}
{% load markdown_extras %}

{% block title %}  {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="../static/style/students.css">
{% endblock %}

{% block content %}
<div class="max-width student-view">
    {% if student.image %}
    <img class="student-img" src="{{ student.image.url }}" alt="Porträt des Studenten">
    {% endif %}
    <div class="student-info">
        <h1>{{ student.prename }} {{ student.name }}</h1>
        <div>
            Geburtsjahr: {% if student.birth_year > 100 %} {{ student.birth_year }} {% else %} nicht verfügbar {% endif %}
        </div>
        <div class="page-text mt-40">{{ student.text | convert_markdown | safe }}</div>
    </div>
</div>
{% endblock %}